[submodule "Models/SaltiNet"]
	path = Models/SaltiNet
	url = https://github.com/massens/saliency-360salient-2017.git
[submodule "Models/PathGAN"]
	path = Models/PathGAN
	url = https://github.com/imatge-upc/pathgan.git
[submodule "Models/IOR-ROI"]
	path = Models/IOR-ROI
	url = https://github.com/sunwj/scanpath.git
[submodule "Metrics"]
	path = Metrics
	url = https://github.com/rAm1n/saliency.git
[submodule "Models/IRL"]
	path = Models/IRL
	url = https://github.com/cvlab-stonybrook/Scanpath_Prediction.git
[submodule "Models/Eymol"]
	path = Models/Eymol
	url = https://github.com/dariozanca/G-Eymol.git
