.empty
__pycache__

Datasets
Results
Metrics
assets

Models/Eymol/__pycache__/*
Models/IOR-ROI/__pycache__/*

ftp.ivc.polytech.univ-nantes.fr

upload.sh

#pretrained components and specific datasets
Models/IOR_ROI/data/
Models/IRL/dataset/
Models/IRL/fixations/
Models/IRL/images/
Models/IRL/trained_models/
Models/SaltiNet/src/pathnet_model_v2.h5
Models/PathGAN/weights

dec.h5
gen.h5

*.npy

nick_model.hdf5